<div class="row" [formGroup]="vm.form">
  <section class="col-md-12">
    <div class='form-group'>
      <label>{{ vm.infos.name.label }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.name' name='name' required formControlName='name'  />
    </div>
  </section>
  <section class="col-md-12">
    <div class='form-group'>
      <label>{{ vm.infos.sampleTypeId.label }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.sampleTypeId' name='sampleTypeId' required formControlName='sampleTypeId' maski='9999999999' />
    </div>
  </section>
</div>

